<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/navbar') %> 
    <form action="/sign_in" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="e.g. Madam Welminster">
        <button>Sign In</button>
    </form>
</body>
</html>