<%- include('./partials/header') %> 
    <form action="/sign_in" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="e.g. Madam Welminster">
        <button>Sign In</button>
    </form>
<%- include('./partials/footer') %> 